<div>
  <div infinite-scroll="fetchMore()" infinite-scroll-disabled="!canFetch || loading" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
    <div ng-repeat="item in updateItems">
      <div ng-if="item._type==='ad'">
        <ad-item item="item" ng-click="openBrowser(item.url)"/>
      </div>
      
      <div ng-if="item._type==='updates'">
        <updates-feed-item item="item"/>
      </div>
    </div>

  </div>
</div>

<div class="spinner" ng-show="loading">
	<div class="bounce1"></div>
	<div class="bounce2"></div>
	<div class="bounce3"></div>
</div>
